# Assignment 4


### Q1: Create a python program that should take the input `“filename”` in `.csv` format from user and in case of duplicate entries, consider the last entries only. For missing values, you need to put mean of value column.File1.csvOutput1.csv
File1.csv
|Number |Value|
|-------|-----|
| 1  	| 3   |
| 2   	| 4   |
| 3   	| 5   |
| 2  	| 5   |
| 1  	| 6   |

Output1.csv
|Number |Value|
|-------|-----|
| 1  	| 6   |
| 2   	| 5   |
| 3   	| 5   |

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("./data/File1.csv")
df

   Number  Value
0       1      3
1       2      4
2       3      5
3       2      5
4       1      6

In [7]:
df.duplicated(subset=['Number'])

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [20]:
df_o = df.drop_duplicates(keep="last", subset=['Number']).sort_values(by=['Number']).reset_index(drop=True)
df_o

   Number  Value
0       1      6
1       2      5
2       3      5

In [21]:
df_o.to_csv("./data/Output1.csv", index=False)

### Q2: WAP to create a merged file namely “result.csv” from the given input files.

Input:
File1.csv
|Number |Value|
|-------|-----|
| 1  	| 3   |
| 2   	| 4   |
| 3   	| 5   |
| 2  	| 5   |
| 1  	| 6   |

File2.csv
|Number |Value|
|-------|-----|
| 1  	| 1   |
| 2   	| 4   |
| 3   	|     |
| 2  	| 5   |
| 4  	| 6   |

File3.csv
|Number |Value|
|-------|-----|
| 1  	| 2   |
| 2   	| 4   |
| 3   	|     |
| 4  	| 5   |
| 5  	| 6   |

result.csv
| Number | File1 | File2 | File3 |
|--------|-------|-------|-------|
| 1      | 6     | 1     | 2     |
| 2      | 5     | 5     | 4     |
| 3      | 5     | 1     | 2     |
| 4      | 3     | 6     | 5     |
| 5      | 3     | 1     | 6     |

Instructions:

1. For duplicate entry of No(Number)in input files, you need to consider the last entry only. For example, File1.csv contain two values for No 1. You need to consideronly last entry for No 1 i.e. 6.
2. Replace the missing values with minimum value in that file. For example, File1.csv contain no entry for No 4 and 5. You need to put minimum value, i.e., 3 in output file in Column “File1”. The File3.csv contain no entry for No 3. You need to put minimum value, i.e., 2 in output file in Column “File3”.
3. Create a log file for non-numeric entries. This log file should consist of entry of File Name, No and Value.